<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/icon.webp">
    <link rel="stylesheet" href="css/styles.css">
    <title>Tareas</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-secondary">
            <div class="container-fluid">
                <a class="navbar-brand" href="index.html">
                    <img src="img/Logo.png" alt="Smart Identifier" width="100">
                    Smart Identifier SID
                </a>

                <button class="navbar-toggler" 
                type="button" 
                data-bs-toggle="collapse" 
                data-bs-target="#navbarSupportedContent" 
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse"
                    id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" href="/index.html">Inicio</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="#">Organización</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" href="templates/Proyecto">Proyecto</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main>
        <section>
            <h2>Agregar | Modificar | Eliminar</h2>

            <label for="nombreT" class="name">Tarea: </label>
            <input  class="nombre" type="text" name="Tarea" id="nombreT">

            <label for="estatus" class="status">Estado de la tarea: </label>
            <select id="estado-tarea">
                <option value="Pendiente">Pendiente</option>
                <option value="Iniciada">Iniciada</option>
                <option value="Pausada">Pausada</option>
                <option value="Finalizada">Finalizada</option>
            </select>
            
            <br>

            

            <div class="fila">

                <div class="descCuadro">
                    <label for="descripcion">Descripción</label>
                    <br>
                    <textarea id="descripcion"></textarea>
                </div>

                <div class="opcionRadio">
                    <label class="opcion">
                        <input type="radio" name="accion" value="Agregar" checked>
                        Agregar
                    </label>
                    <br>
                    <label class="opcion">
                        <input type="radio" name="accion" value="Modificar">
                        Modificar
                    </label>
                    <br>
                    <label class="opcion">
                        <input type="radio" name="accion" value="Eliminar">
                        Eliminar
                    </label>

                    <br>
                    <label for="idTarea">ID tarea: </label>
                    <input type="text" id="idTarea">
                </div>
                
            </div>

            <button id="btnrealizar" type="submit"> Realizar</button>
        </section>

        <section>
            <h2>Lista de tareas</h2>

            <div class="asignacion">
                <p id="tareas"></p>
                
            </div>

            <!--<table class="tabla">
                <tr>
                    <td class="fTarea">Tarea</td>
                    <td class="fEstado">Estado</td>
                    <td class="fDescrip">Descripcion</td>
                </tr>
            </table>-->
        </section>

        
    </main>

    <footer>
        <h3>Derechos reservados - SID</h3>
    </footer>

    <script src="https://www.gstatic.com/firebasejs/3.6.1/firebase.js"></script>
    <script src="Crud.js"></script>
</body>
</html>